h1{
   font-weight: 100;
   background-color: rgb(194, 233, 232);
   font-family: 'Khand', sans-serif;
   border-radius: 20px;
   padding-left: 10px;

}
span{
    font-family: 'Khand', sans-serif;
}
h2{
    text-align: center;
    font-family: 'Courgette', cursive;
    padding: 20px;
}
span:hover{
    background-color: aliceblue;
    transition: 1200ms ;
}
body{
    background-color: rgb(162, 200, 200);
}
div#main{
    padding: 20px;
    text-align: center;
    background-color: rgb(177, 205, 205);

    box-shadow: 5px 0px 30px rgb(241, 237, 231);
    border-radius: 60px;
}
span#h1span{
    font-size: 20px;
}
span#h1span:hover{
    padding: 10px;
    transition: 2500ms;
    font-size: 30px;
    color: darkcyan;

}
input#daysform,button#daysform{
background-color: rgb(105, 144, 155);
border-radius: 10px;
border: 0;
}
button#daysform:hover{
    padding: 1px;
    transition: 120ms;
    font-family: monospace;
}
div#footer,p#footer{
    margin-top: 350px;
    font-family: 'Edu TAS Beginner', cursive;
    border: 2px;
    padding-left: 10px;
}
img#buttonssocial{
    display: inline-flex;
    height: 20px;
    align-items: right;
    padding: 5px;
}
div#images{
   text-align: center;
   border-radius: 60px;
}

a#links{
    text-decoration: none;
}
img#buttonssocial:hover{
    transition: 200ms;
    padding: 1px;
}
div#main:hover{
    box-shadow: 5px 5px 30px rgb(255, 213, 213);
    
    
}
.sub{
    font-size: small ;
}
